<template name="newAddressTemplate">
	<form id="newAddressForm">
		<div class="controls">
			<label for="street">street</label>
			<input id="street" type="text" name="street">
		</div>
		<div class="controls">
			<label for="house_no">house_no</label>
			<input id="house_no" type="number" name="house_no">
		</div>
		<div class="controls">
			<label for="postal">postal</label>
			<input id="postal" type="text" name="postal">
		</div>
		<div class="controls">
			<label for="city">city</label>
			<input id="city" type="text" name="city">
		</div>
		<div class="controls">
			<label for="country">country</label>
			<input id="country" type="text" name="country">
		</div>
		<input type="submit" value="submit" class="button">
	</form>
</template>

<template name="editAddressTemplate">
	<form id="editAddressForm">
		<div class="controls">
			<label for="street">street</label>
			<input id="street" type="text" name="street" value="{{ this.street }}">
		</div>
		<div class="controls">
			<label for="house_no">house_no</label>
			<input id="house_no" type="number" name="house_no" value="{{ this.house_no }}">
		</div>
		<div class="controls">
			<label for="postal">postal</label>
			<input id="postal" type="text" name="postal" value="{{ this.postal }}">
		</div>
		<div class="controls">
			<label for="city">city</label>
			<input id="city" type="text" name="city" value="{{ this.city }}">
		</div>
		<div class="controls">
			<label for="country">country</label>
			<input id="country" type="text" name="country" value="{{ this.country }}">
		</div>
		<input type="submit" value="submit" class="button">
	</form>
</template>

<template name="addressListTemplate">
	<a href="{{pathFor 'newAddressView'}}">New Address</a>
	<table>
		<thead>
			<tr>
				<th>id</th><th>action</th>
			</tr>
		</thead>
		<tbody>
			{{#each addressList}}
				<tr>
					<td>this._id</td><td><a href="{{pathFor 'editAddressView'}}" class="button">Edit</a><a href="#" class="removeButton button">Remove</a></td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</template>


